PORT=5000
CLIENT_URL=http://localhost:5173

# eSewa UAT / demo credentials from eSewa developer docs.
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_FORM_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_STATUS_URL=https://uat.esewa.com.np/api/epay/transaction/status/
